
<!-- App favicon -->
<!--<link rel="shortcut icon" href="assets/images/favicon.ico">-->

<!-- Plugins css-->
<link th:href="@{/assets/libs/sweetalert2/sweetalert2.min.css}" rel="stylesheet" type="text/css" />

<!-- Responsive Table css -->
<link th:href="@{/assets/libs/rwd-table/rwd-table.min.css}" rel="stylesheet" type="text/css" />

<!-- Custom box css -->
<link th:href="@{/assets/libs/custombox/custombox.min.css}" rel="stylesheet">

<!-- App css -->
<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
<link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css" id="app-stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Content|Moul|Titillium+Web" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
