
<div class="sidebar" id="sidebar">

	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="active">
					<a th:href="@{/}">
						<img th:src="@{/assets/img/icons/home.svg}" alt="img"><span th:text="#{page.home}">
							<!--ទំព័រដើម-->							
					</span> </a>
				</li>
				<li class="submenu">
					<a href="javascript:void(0);"><img th:src="@{/assets/img/icons/list.svg}" alt="img"><span>
							សម្ភារ</span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a th:href="@{/asset/distribute}">បែងចែកសម្ភារ</a></li>
						<li><a th:href="@{/asset/list}">បញ្ជីរសម្ភារទាំងអស់</a></li>
					</ul>
				</li>	
				<li class="submenu">
					<a href="javascript:void(0);"><img th:src="@{/assets/img/icons/report.svg}" alt="img"><span>
							របាយការណ៍</span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a th:href="@{/}">របាយការណ៍សម្ភារ</a></li>
						<li><a th:href="@{/}">សវនកម្មអ្នកប្រើប្រាស់</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="javascript:void(0);"><img th:src="@{/assets/img/icons/university.svg}" alt="img"><span>
							អង្គភាព</span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a th:href="@{/}">ក្រសួង</a></li>
						<li><a th:href="@{/}">អគ្គនាយកដ្ឋាន</a></li>
						<li><a th:href="@{/}">នាយកដ្ឋាន/រតនា.រាជធានី ខេត្ត</a></li>
						<li><a th:href="@{/}">ការិយាល័យ</a></li>
						<li><a th:href="@{/}">បញ្ជីឈ្មោះមន្ដ្រី</a></li>
						<li><a th:href="@{/}">មុខងារ (មន្ត្រីរាជការ)</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="javascript:void(0);"><img th:src="@{/assets/img/icons/settings.svg}" alt="img"><span>
							ការគ្រប់គ្រង</span> <span class="menu-arrow"></span></a>
					<ul>
						<li><a th:href="@{/}">ឃ្លាំងរក្សាទុក</a></li>
						<li><a th:href="@{/}">ប្រភេទសម្ភារ</a></li>
						<li><a th:href="@{/}">បញ្ជីឈ្មោះអ្នកផ្គត់ផ្គង់</a></li>
						<li><a th:href="@{/}">បញ្ជីឈ្មោះក្រុមហ៊ុនផលិត</a></li>						
						<li><a th:href="@{/}">ប្រភពផ្ដល់អោយ</a></li>
						<li><a th:href="@{/}">អ្នកប្រើប្រាស់</a></li>
						<li><a th:href="@{/}">សិទ្ធ</a></li>
					</ul>
				</li>
				<li>
					<a th:href="@{/}"><img th:src="@{/assets/img/icons/user_privacy.svg}" alt="img"><span>
							ឯកជនភាព							
					</span> </a>
				</li>
			</ul>
		</div>
	</div>
	
</div>